/* @import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap"); */
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@600;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  @apply text-main;

  /* overflow: hidden; */
}

@layer utilities {
  input[type="number"]::-webkit-outer-spin-button,
  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"] {
    -webkit-appearance: none;
    margin: 0;
    -moz-appearance: textfield !important;
  }
}

@layer base {
  .myContainerBig > *:not(.excludeCont) {
    /* @apply md:mx-auto md:w-[92%]; */
    @apply px-28;
  }
  .myContainerSmall > *:not(.excludeCont) {
    /* @apply md:mx-auto md:w-[92%]; */
    @apply px-[15px];
  }

  .animate-upToDown {
    animation: upDown forwards 500ms;
  }
  .animate-LtoR {
    animation: LtoR forwards 500ms;
  }
  .animate-RtoL {
    animation: RtoL forwards 500ms;
  }
  .fancy-size {
    @apply text-[20px] md:text-[40px];
  }

  /* Style the scrollbar track */
  ::-webkit-scrollbar-track {
    background-color: #f1f1f1;
  }

  /* Style the scrollbar thumb */
  ::-webkit-scrollbar-thumb {
    background-color: #888;
    border-radius: 10px;
  }

  /* Style the scrollbar when hovering over it */
  ::-webkit-scrollbar-thumb:hover {
    background-color: #555;
  }

  /* Set the width and height of the scrollbar */
  ::-webkit-scrollbar {
    width: 5px;
    height: 5px;
  }
}

@keyframes upDown {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0);
  }
}
@keyframes LtoR {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes RtoL {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}
